test_PDE/a.out
test_matrix/a.out
*.out
*.matrix_kvdd
*.matrix_ikvdd
*.matrix_d
*.matrix_id
*.matrix_int
*.log
*.csv
imats_old_before_0.0.5.hpp
/kv
/paper_*
/test_kv
/test_conference
/dustbox
/.vscode
/pre
/nakagawa
/kuramochi
/sasaki
/oonuma
/takashima
/asano
/test_All_Solution_PDE